<div class="card">
    <div class="card-body">
        <div class="card-img-wrapper">
            <img class="card-img-top" src="assets/images/home_default.png">
        </div>
        <ul class="list-inline text-center member-icons">
            <li class="list-inline-item">
                <button class="btn btn-primary">E</button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary">C</button>
            </li>
        </ul>
        <h1>{{property.Id}}</h1>
        <h1>{{property.Type}}</h1>
        <h1>{{property.Price}}</h1>
    </div>
</div>

